absl-py==2.0.0
aiohttp==3.8.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
allensdk==2.15.2
anndata==0.10.3
antlr4-python3-runtime==4.9.3
argschema==3.0.4
array-api-compat==1.4
async-timeout==4.0.3
attrs==23.1.0
blosc2==2.0.0
boto3==1.17.21
botocore==1.20.112
cachetools==4.2.4
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
cmake==3.27.2
common==0.1.2
crcmod==1.7
cryptography==41.0.3
cycler==0.12.0
Cython==3.0.2
deepspeed==0.10.2
dgl==1.1.2
distro==1.8.0
exceptiongroup==1.1.3
filelock==3.12.3
frozenlist==1.4.0
fsspec==2023.9.0
future==0.18.3
fvcore==0.1.5.post20221221
Glymur==0.8.19
google-auth==2.23.3
google-auth-oauthlib==1.1.0
greenlet==2.0.2
grpcio==1.59.0
h5py==3.9.0
hdmf==3.4.7
hjson==3.1.0
huggingface==0.0.1
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.4
importlib-metadata==6.8.0
iopath==0.1.10
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
lazy_loader==0.3
lightning-utilities==0.9.0
lit==16.0.6
Markdown==3.5
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.4.2
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
natsort==8.4.0
ndx-events==0.2.0
nest-asyncio==1.5.8
networkx==3.1
ninja==1.11.1
numexpr==2.8.7
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
oss2==2.18.1
packaging==23.1
pandas==1.5.3
patsy==0.5.3
Pillow==10.0.0
portalocker==2.7.0
protobuf==4.23.4
psutil==5.9.5
psycopg2-binary==2.9.8
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.12
pynrrd==0.4.3
pynwb==2.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-lightning==2.0.8
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rpds-py==0.10.3
rsa==4.9
ruamel.yaml==0.17.33
ruamel.yaml.clib==0.2.7
s3transfer==0.3.7
safetensors==0.3.3
scikit-build==0.17.6
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.12.2
semver==3.0.1
SimpleITK==2.3.0
simplejson==3.19.1
six==1.16.0
SQLAlchemy==2.0.21
statsmodels==0.14.0
sympy==1.12
tables==3.8.0
tabulate==0.9.0
tensorboard==2.15.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.9.26
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchdata==0.6.1
torchmetrics==1.1.1
torchtext==0.15.2+cpu
torchvision==0.15.2
tqdm==4.66.1
transformers==4.32.1
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
Werkzeug==3.0.1
xarray==2023.9.0
xformers==0.0.21
yacs==0.1.8
yarl==1.9.2
zipp==3.17.0
